<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
</head>
<body class="socialLinkListForm">
<header>
    <nav>
        <a href="#">LOGO</a>
        <ul class="list">
            <li><a th:href="@{/contactForm}">Contact us</a></li>
            <li><a th:href="@{/user/userProfile}">Profile</a></li>
            <li><a th:href="@{/socialLinkListForm}">Contact</a></li>
            <li><a th:href="@{/logout}">Sign out</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="addFriend">
        <button class="cssbuttons-io">
            <a th:href="@{/socialLinkForm}">Add a new friend</a>
        </button>
    </div>
    <div class="friendList">


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="thmail">Email</th>
                    <th class="thaction">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mail : ${linkList}">
                    <td style="width: 25%" th:text="${mail}"></td>
                    <td style="width: 15%" class="text-center">
                        <button class="cssbuttons-io" ><a style="padding:2px 4px;" th:href="@{/transfer/{id}(id=${mail})}">Transfer</a></button>
                        <button class="cssbuttons-io" ><a style="padding:2px 4px;" th:href="@{/socialLinkListForm/delete/{id}(id=${mail})}">Delete</a></button>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>
</main>

<footer>
    <ul></ul>
    <ul>
        Cash transfer
        <li>FAQ</li>
        <li>Why using Flash Cash ?</li>
    </ul>
    <ul>
        Need help ?
        <li>Live chat</li>
        <li>Contact us</li>
    </ul>
    <ul>
        About
        <li>Team</li>
        <li>Locations</li>
    </ul>
</footer>
</body>
</html>



