<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
</head>
<body class="socialLinkForm">
<header>
    <nav>
        <a href="#">LOGO</a>
        <ul class="list">
            <li><a href="#">Transfers</a></li>
            <li><a th:href="@{/user/userProfile}">Profile</a></li>
            <li><a href="#">Contact</a></li>
            <li><a th:href="@{/logout}">Sign out</a></li>
        </ul>
    </nav>
</header>

<main>
    <div>

    </div>
    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width:50%">Email</th>
                <th style="width:50%">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mail : ${linkList}">
                <td style="width: 25%" th:text="${mail}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/user/update/{id}(id=${mail})}">Transfer</a>&nbsp;|&nbsp;
                    <a th:href="@{/user/delete/{id}(id=${mail})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer>
    <ul></ul>
    <ul>
        Cash transfer
        <li>FAQ</li>
        <li>Why using Flash Cash ?</li>
    </ul>
    <ul>
        Need help ?
        <li>Live chat</li>
        <li>Contact us</li>
    </ul>
    <ul>
        About
        <li>Team</li>
        <li>Locations</li>
    </ul>
</footer>
</body>
</html>



