<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
</head>
<body class="userprofile">
    <header>
        <nav>
            <a href="#">LOGO</a>
            <ul class="list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Transfers</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/logout">Sign out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Profile</h1>
        <section class="services">
            <div class="addcash">
                <h2>Add cash to Flash Cash</h2>
                <ul>
                    <li>Add cash with your credit card</li>
                    <li>Free</li>
                    <li>Instant deposit</li>
                    <li>Fully secured</li>
                </ul>
                <button>
                    <a href="/addCashForm">Start</a>
                </button>
            </div>

            <div class="transfercash">
                <h2>Transfer to your bank</h2>
                <ul>
                    <li>Instant transfer</li>
                    <li>Free</li>
                    <li>Worldwide</li>
                    <li>Fully secured</li>
                </ul>
                <button>
                    <a th:href="@{/withdrawCashForm}">Start</a>
                </button>
            </div>

            <div class="addiban">
                <h2>Add an IBAN</h2>
                <ul>
                    <li>Add your IBAN here</li>
                    <li>Up to 5 IBAN</li>
                    <li>Any bank supported</li>
                    <li>Fully secured</li>
                </ul>
                <button>
                    <a href="/addIban">Start</a>
                </button>
            </div>
        </section>

        <section class="balance">
            <h2>My account balance</h2>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:object="${user}">
                        <td th:text="*{email}">test@test</td>
                        <td th:text="*{account.amount}+' € ' ">100</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="iban">
            <h2 >Your IBAN</h2>
            <p th:text="${user.account.iban1}"></p>
        </section>
    </main>

    <footer>
        <ul></ul>
        <ul>
            Cash transfer
            <li>FAQ</li>
            <li>Why using Flash Cash ?</li>
        </ul>
        <ul>
            Need help ?
            <li>Live chat</li>
            <li>Contact us</li>
        </ul>
        <ul>
            About
            <li>Team</li>
            <li>Locations</li>
        </ul>
    </footer>
</body>
</html>