<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>
<body class="userprofile">
    <header>
        <nav>
            <a href="#">LOGO</a>
            <ul class="list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Transfers</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Sign out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Profile</h1>
        <section class="services">
            <div class="addcash">
                <h2>Add cash to Flash Cash</h2>
                <ul>
                    <li>Add cash with your credit card</li>
                    <li>Free</li>
                    <li>Instant deposit</li>
                    <li>Fully secured</li>
                </ul>
                <button>
                    <a href="#">Start</a>
                </button>
            </div>

            <div class="transfercash">
                <h2>Transfer to your bank</h2>
                <ul>
                    <li>Instant transfer</li>
                    <li>Free</li>
                    <li>Worldwide</li>
                    <li>Fully secured</li>
                </ul>
                <button>
                    <a href="#">Start</a>
                </button>
            </div>

            <div class="addiban">
                <h2>Add an IBAN</h2>
                <ul>
                    <li>Add your IBAN here</li>
                    <li>Up to 5 IBAN</li>
                    <li>Any bank supported</li>
                    <li>Fully secured</li>
                </ul>
                <button>
                    <a href="#">Start</a>
                </button>
            </div>
        </section>
    </main>
</body>
</html>