<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
</head>
<body class="userprofile">
<header>
    <nav>
        <a href="#">LOGO</a>
        <ul class="list">
            <li><a th:href="@{/contactForm}">Contact us</a></li>
            <li><a th:href="@{/user/userProfile}">Profile</a></li>
            <li><a th:href="@{/socialLinkListForm}">Contact</a></li>
            <li><a th:href="@{/logout}">Sign out</a></li>
        </ul>
    </nav>
</header>

<main class="contactForm">
    <div class="container">
        <h1>Formulaire de contact</h1>
        <form th:action="@{/contactForm}" th:object="${contactForm}" method="post">
            <label for="fname">Nom & prénom</label>
            <input type="text" id="fname" th:field="*{name}" placeholder="Votre nom et prénom" required>

            <label for="sujet">Sujet</label>
            <input type="text" id="sujet" th:field="*{subject}" placeholder="L'objet de votre message" required>

            <label for="emailAddress">Email</label>
            <input id="emailAddress" type="email" th:field="*{email}" placeholder="Votre email" required>


            <label for="subject">Message</label>
            <textarea id="subject" th:field="*{message}" placeholder="Votre message" style="height:200px" required></textarea>

            <input type="submit" value="Envoyer">
        </form>
    </div>
</main>

<footer>
    <ul></ul>
    <ul>
        Cash transfer
        <li>FAQ</li>
        <li>Why using Flash Cash ?</li>
    </ul>
    <ul>
        Need help ?
        <li>Live chat</li>
        <li>Contact us</li>
    </ul>
    <ul>
        About
        <li>Team</li>
        <li>Locations</li>
    </ul>
</footer>
</body>
</html>