<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body class="signuppage">
<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <form th:action="@{/signUp}" th:object="${signUpForm}" method="post" class="form-horizontal" style="width: 100%">

            <a>Sign up</a>
            <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name" required="">
            <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

            <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name" required="">
            <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

            <input type="email" th:field="*{email}" id="email" placeholder="Email" required="">
            <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

            <input type="password" th:field="*{password}" id="password" placeholder="Password" required="">
            <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

            <button type="submit">Sign up</button>
        </form>
    </div>

    <div class="signin">
        <form th:action="@{/signIn}" method="post" class="form-horizontal">
            <a href="/signIn" type="text/html" for="chk" aria-hidden="true">Login</a>
        </form>
    </div>
</div>
</body>
</html>